<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body class="text-gray-900">
    <%- include("../partials/navbar") %>
    <div class="flex justify-start flex-col items-center p-10">
      <%- include("../partials/loggedin") %>
      <div class="w-[1000px] rounded-lg border border-black">
        <div class="flex rounded-t-md items-center space-x-4 p-6">
          <div
            class="border-2 border-black w-[90px] h-[90px]  p-6 rounded-full flex items-center justify-center"
          >
            <p class="text-5xl"><%= user.name.charAt(0).toUpperCase() %></p>
          </div>
          <div class="">
            <p class="font-bold uppercase text-2xl"><%= user.name %></p>
            <p><%= user.email %></p>
            <p class="">
              Member since <%= new
              Date(user.createdAt).toLocaleDateString() %>
            </p>
          </div>
        </div>
        <hr>
        <div
          class="p-6 space-x-4 flex justify-around items-center"
        >
          <div class="flex flex-col items-center justify-center">
            <p><%= user.links.length  %></p>
            <p>Link Created</p>
          </div>
          <div class="flex flex-col items-center justify-center">
            <p>0</p>
            <p>Total Clicks</p>
          </div>
          <div class="flex flex-col items-center justify-center">
            <p>Today</p>
            <p>Last Active</p>
          </div>
        </div>
        <div>
        <hr>

        <div class=" p-5 space-x-4">
          <p>
            <span class="verification-label">Email Verification:</span>
            <% if (user.isEmailValid) { %>
            <span class="bg-black ml-4 text-white px-6 py-2 rounded-full">
               Verified
            </span>
            <% } else { %>
            <span class="bg-black text-white px-6 py-2 rounded-full">
              Not Verified
            </span>
            <a href="/verify-email" class="border border-black ml-4 px-6 py-2 rounded-full">
              Verify Now
            </a>
            <% } %>
          </p>
        </div>
        </div>
        <hr>
      </div>
      <div class="flex p-5 justify-center space-x-12 items-center w-full">
        <div class="border border-black px-4 py-2 rounded-full">Change Password</div>
        <div class="border border-black px-4 py-2 rounded-full">Edit Profile</div>
        <div class="border border-black px-4 py-2 rounded-full">Logout</div>
    </div>
    </div>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
